/* 全体の設定 */
* {
    font-size: 107%;
    /* line-height: -30px; */
    text-align:center;
    font-family: 'Sawarabi Mincho', sans-serif;
    letter-spacing: 0.1em;
}


/* 設定一番上の幅の */
#top{
    margin-top: 235px;
    margin-bottom: 500px;
}

/* navの中の文字の大きさと色の変更 */
.navbar {
    color:rgb(146, 146, 146);
}
#nab{
    color:rgb(146, 146, 146);
    font-size: 30%;
}
#nab2 {
    color:rgb(146, 146, 146);
    font-size: 50%;
}
.icon-bar{
    background-color:rgb(146, 146, 146) ;
}

/* inroductionの文章の設定 */
.intro-right p{
    text-align: left;
    font-size: 90%;
}


/* introduction内の強調 */
.strong {
    color :blue;
    /* font-size:150%; */
    padding-top: 30px;
}


/* introductionの一番上の協調 */
#strong {
    color :blue;
    /* font-size:150%; */
    padding-top: 25px;
}


/* 高さ設定、見出しの英語フォント指定、大きさ設定 */
.anchor{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:400%;
    display: block;
    text-shadow:3px 4px rgb(200, 200, 200);
    letter-spacing: 10px;
    font-weight: 600;
    margin-top: 80px;
}

/* スマホ画面用のフォント設定 */
@media screen and (max-width:651px) { 
    *{
      font-size: 4vw;
      font-weight: 500;
    }

    #top{
        font-size: 12vw;
    }
  }

.font{
    font-size: 120%;
    font-weight: 600;
}

figcaption{
    font-size: 80%;
}

/* 背景画像の設定 */
.fixed-bg {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-blend-mode:lighten;
}

.bg01 {
    background-image:url("image/background1.jpg");
    background-color:rgba(255,255,255,0.6);
    }

.bg02 {
    background-image:url("image/background2.jpg");
    background-color:rgba(255,255,255,0.7);
    }

/* hobbyの写真の設定 */
#hobby{
    margin-top: 90px;
}

/* はみ出した範囲を消す */
.Wrap {
    overflow: hidden;
    position: relative;
}

.Wrap:hover .content{
    opacity: 1;
    transform: scale(1.2);
    filter: blur(0); 
    transition-duration: 0.5s;
    word-break: break-all;
}


.Wrap .after{
    position: absolute;
    top: 0%;
	width: 100%;
	height: 100%;
	background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
	transition-duration: 0.5s;
    opacity: 0; 
    /* 文字の設定 */
    display: flex; 
	justify-content: left; 
    align-items: center;
	color: #fff;
	font-size: 14px;
	text-shadow: 0 0 2px #000;
    filter: blur(4px);
}

.Wrap:hover .after {
    word-break: break-all;
    padding-left: 10%;
    opacity: 1;
	filter: blur(0); 
}
